@media only screen and (min-width: 768px){
#top{
    background-image: url(../img/exo-50.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    min-height: 768px;
    min-width: 100%;
    z-index: -1;
}
#mobo-side{
    display: none;
}
#open{
    display: none;
}
#car{
    position: relative;
    animation: travel 4s forwards ease-in;
}
    @keyframes travel{
    from{top: -10%; width: 2%}
    to{top: 70%; width: 28%}
}
#exologo{
    width: 10%;
}
}
@media only screen and (max-width: 768px){
    #top_scr{
        background-image: url("../img/mob-1.jpg");
        position: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        }
    #inf_{
        display: none;
    }
    #abt{
        display: none;
    }
    #exologo{
        width: 30%;
    }
    }

/*sidebar(start)*/

#sidebar a {
    position: fixed;
    left: -100px;
    transition: 0.3s;
    padding-left: 15px;
    width: 10px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'B612', sans-serif;
}
#sidebar a:hover {
    left: 0px;
}
#menu{
	position: fixed;
    padding-left: 15px;
    width: 10px;
    text-decoration: none;
    font-size: 40px;
    color: black;
	top: 80px;
}
#about {
    top: 180px;
}
#sap {
    top: 240px;
}
#events {
    top: 300px;
}
#schedule{
	top: 360px;
}
#works {
    top: 420px;
}
#pronites {
    top: 480px;
}
#talk{
	top: 540px;
}
#sponser {
    top: 600px;
}
#team {
    top: 660px;
}
#sidebar img{
    position: relative;
    margin-top: -48px;
    margin-left: -70px;
    width: 210px;
}
#sidebar span{
    border-radius: 5px;
    padding: 8px;
    background-color: #57F78E; 
    margin-left: -20px;
}
/*sidebar(end)*/

h1{
    font-size: 100px;
    text-align: center;
}
a{
    text-decoration: none;
}
#cam{
    height: 80%;
    width: 100%;
}
@media only screen and (max-width: 768px){
    #sidebar{
        display: none;
    }
    #pronit{
        display: none;
    }
	#menu{
		display: none;
	}
}
@media only screen and (min-width: 768px){
    #sm-only{
        display: none;
    }
}
#sm-gal:hover{
    opacity: 1;
}
@media only screen and (max-width: 768px){
    #car{
        position: relative;
        animation: travel-mini 4s forwards ease-in;  
    }
    @keyframes travel-mini{
        from{top: -10%; width: 2%}
        to{top: 120%; width: 50%}
    }
}
/*For loader(start)*/
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
svg {
    display: inline-block;
}
.no-select {
    cursor: default;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#film-container {
    width: 100%;
    height: 100%;
    background: url('https://s3.ap-south-1.amazonaws.com/img-exo/img/film_grain-small.gif') no-repeat;
    background-size: 100% 100%;
}
#film-countdown, #message-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#message-container text {
    font: normal 28px Calibri, sans-serif;
    opacity: 0;
}
body.message #film-container {
    opacity: 0;
    transition: opacity 0.75s;
}
body.message #message-container text {
    opacity: 1;
    transition: opacity 0.75s;
}
#numbers text {
    fill: black;
    font: bold 120px Arial, sans-serif;
    letter-spacing: -10px;
    opacity: 0;
}
.circle01 {
    fill: none;
    stroke: #111;
    stroke-width: 1.5px;
}
.circle02 {
    fill: none;
    stroke: rgba(0, 0, 0, 0.3);
    stroke-dasharray: 1 3200;
    stroke-width: 989;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.line01, .line02 {
    stroke: #deedee;
}
.rectangle01 {
    fill: gray;
}

** END RADIO DIAL **

.animated-flicker {
    height: 100%;
    animation: flicker 1s 1;
    opacity: 0.2;
}
.animated-rotate {
    animation: rotate .5s 3;
}
#film-container{
    animation: fadeaway 1.5s;
    animation-delay: 1.5s;
}
#animated-text8 {
    animation: countdown .5s 1;
    animation-delay: 0s;
}
#animated-text9 {
    animation: countdown .5s 1;
    animation-delay: .5s;
}
#animated-text10 {
    animation: countdown .5s 1;
    animation-delay: 1s;
}

@keyframes countdown {
    0% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes flicker {
    0% { opacity: 0.45; }
    10% { opacity: 0.7; }
    23% { opacity: 0.85; }
    30% { opacity: 0.4; }
    41% { opacity: 0.6; }
    46% { opacity: 0.8; }
    53% { opacity: 0.4; }
    60% { opacity: 0.75; }
    75% { opacity: 0.5; }
    79% { opacity: 0.55; }
    100% { opacity: 0.1; }
}
@keyframes rotate {
    100% { stroke-dasharray: 3200 0; }
}

@keyframes fadeaway{
    0%{ opacity: 1;}
    100%{opacity: 0.5;}
}

/*for loade(end)r*/

.hide{
    display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #470B01;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    opacity: 1;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'B612', sans-serif;
}

.sidenav a:hover{
    color: aqua;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#tag2{
    font-family: 'Press Start 2P', cursive;
}

#tag1{
    font-family: 'Monoton', cursive;
}

@media only screen and (max-width: 492px){
    #tag1{
        font-size: 25px;
    }
}

.glow {
/*      font-size: 40px;*/
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

#hours, #min, #days, #sec, #none{
    font-family: 'B612', sans-serif;
	font-size: 20px;
}

#register-btn{
    font-size: 20px;
    border-style: double;
    color: white;
    padding: 5px;
    background-color: burlywood;
    cursor: pointer;
}

#register-btn:hover{
    background-color: cadetblue;
    transition: 1s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}    