body{
/*        scroll-behavior: smooth;*/
    word-wrap: break-word;
    position: relative;
}
* {
    box-sizing: boder-box;
    scroll-behavior: smooth;
}

body {
margin: 0;
}

a{
    text-decoration: none;
}
#main {
position: relative;
z-index: 20;
background: #fff;
transition: -webkit-transform .6s ease;
transition: transform .6s ease;
transition: transform .6s ease, -webkit-transform .6s ease;
}
@media (min-width: 768px) {
#main {
padding: 1em;
}
}

.fake-section {
background: #eee;
height: 300px;
}

.tiles-a {
width: 100%;
position: relative;
overflow: hidden;
}
.tiles-a ul {
margin-left: 0%;
padding: 0;
}
.tiles-a li {
list-style: none;
}
@media (min-width: 768px) {
    .ele-2 li {
        float: left;
        width: 33.33%;
        margin-left: 10%;
    }
    .ele-1 li {
        float: left;
        width: 33.33%;
        margin-left: 33.33%;  
    }
}
.tiles-a a {
margin: 1em;
display: block;
background: #222;
padding-top: 73%;
height: 0;
}

#aside {
position: fixed;
top: 0;
right: 0;
width: 60%;
height: 100%;
background: #eee;
overflow-y: scroll;
z-index: 10;
}
#aside img {
width: 100%;
height: auto;
vertical-align: top;
}
#aside .wrapper {
padding: 1em;
}
#aside .close {
width: 25px;
display: block;
position: absolute;
top: 1em;
right: 1em;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 50%;
}

.show-detail {
overflow: hidden;
}
.show-detail #main {
-webkit-transform: translateX(-60%);
        transform: translateX(-60%);
}

.visually-hidden {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}
@media only screen and (min-width: 768px){
#top-exologo{
    margin-top: 5%;
    width: 15%;
}
    .name-id{
        font-size: 25px;
    }
}
@media only screen and (max-width: 768px){
    #top-exologo{
        margin-top: 20%;
        width: 35%;
    }
    .overlay{
        display: none;
        padding-top: -10%;    
    }
    .name-id{
        font-size: 18px;
    }
    .hover-title{
        display: none;
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #470B01;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    opacity: 1;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'B612', sans-serif;
}

.sidenav a:hover{
    color: aqua;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.info{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.event_name{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    text-decoration: underline;
}

h5{
    font-family: 'Acme', sans-serif;
}

h3{
    font-family: 'Carter One', cursive;
}

h4{
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    background-color: coral;
    color: white;
}
.main-head{
    font-size: 40px;
    font-family: 'Bungee Inline', cursive;
    padding-bottom: 100px;
    z-index: 1;
}

.subhead{
    font-size: 30px;
    margin-left: 5%;
    font-family: 'ZCOOL XiaoWei', serif;
    width: 500px;
}
.innerhead{
    font-family: 'Bungee Inline', cursive;
}

.title-icon{
    position: relative;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    border-radius: 0%;
    cursor: pointer;
    /* -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); */
    font-size:96px; 
    /* color:red; */
    transition: color 1s;
}
.title-icon:hover{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
.title-icon:hover{
    color: aqua;
}
.name-id:hover{ 
    transition: 1s;  
    color: aqua;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@media screen and (max-width: 536px){
.subhead{
    font-size: 20px;
    }
}
.inner-bx{
    border-radius: 20%;
}
@media screen and (min-width: 768px){
    .hover-title{
        opacity: 0;
    }
    .list-item:hover .hover-title{
        opacity: 1;
        transform: translateY(-100px);
        z-index:-1;
        font-family: 'Pacifico', cursive;
        transition: 1s ease-in-out;
    }
    .list-item:hover .inner-bx{
        opacity: 0.3;
        transform:scale(1.1);
        transition: 1s ease-in-out;
    }
    .event_name{
        display: none;
    }
}
.img-content{
    opacity: 0.7;
}
.gal-img{
    opacity: 0.7;
}
.prob_download{
    cursor: pointer;
    padding: 3px;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.prob_download:hover{
    background-color: #4CAF50;
    color: white;
    transition: 1s;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 3;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FF00FF;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #FF00FF;
    color: white;
}    

